{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}


        <header class="jumbotron bg-dark p-3">
            <div class="d-flex justify-content-between align-items-center">
                {% block header_content %}
                    <h1 class="text-white m-0"><a href="{# path('tasklist_list') #}">My Todo List</a></h1>
                    <img src="{{ asset('images/header.png') }}" alt="Header Logo" style="height:90px;">
                {% endblock %}
            </div>
        </header>
    {% endblock %}

    {% block main %}
        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
    {% endblock %}
{% endblock %}
